### ITOM_6253_Assignment4

## <span style="color:green;">Evidence Madhume</span>.

**Q1:** Using pandas, import the hotels.csv and show the number of observations and columns.

In [1]:
import pandas as pd 

# Importing the hotel data using pandas
hotels_df = pd.read_csv('hotels.csv')

# Show the number of observations (rows) and columns
observations, columns = hotels_df.shape  
print(f"Number of observations (rows): {observations}")
print(f"Number of columns: {columns}")
print(hotels_df.info())

Number of observations (rows): 366644
Number of columns: 31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366644 entries, 0 to 366643
Data columns (total 31 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   hotel_code                366644 non-null  int64
 1   country_code              366644 non-null  object
 2   country_name              366644 non-null  object
 3   location_code             366644 non-null  int64
 4   location_name             366642 non-null  object
 5   hotel_type                366644 non-null  object
 6   rooms                     335223 non-null  float64
 7   bubble_rating             344126 non-null  float64
 8   bubble_one                366644 non-null  int64
 9   bubble_two                366644 non-null  int64
 10  bubble_three              366644 non-null  int64
 11  bubble_four               366644 non-null  int64
 12  bubble_five               366644 non-null  int64
 13  page_position             366602 non-null  float64
 14  out_of                    366602 non-null  float64
 15  reviews                   366644 non-null  int64
 16  domestic_reviews          366644 non-null  int64
 17  international_reviews     366644 non-null  int64
 18  reviews_per_room          335223 non-null  float64
 19  visitor_country1          366644 non-null  object
 20  visitor_country2          366644 non-null  object
 21  visitor_country3          366644 non-null  object
 22  management_response_rate  344281 non-null  float64
 23  independent_flag          366644 non-null  int64
 24  traffic                   366642 non-null  float64
 25  traffic_per_room          335221 non-null  float64
 26  OTA_region_rate           366644 non-null  float64
 27  subscriber                366644 non-null  int64
 28  hotel                     366644 non-null  int64
 29  BandB                     366644 non-null  int64
 30  Specialty                 366644 non-null  int64
dtypes: float64(9), int64(15), object(7)
memory usage: 86.7+ MB
None

Converting hotel_code and location_code to string

In [3]:
# List of column names to convert from numeric to string
columns_to_convert = ['hotel_code', 'location_code']  # Replace with your actual column names

# Loop through the columns and convert to string
for column in columns_to_convert:
    hotels_df[column] = hotels_df[column].astype(str)

# Check the result
print(hotels_df.dtypes)  # To confirm the datatype of the columns

hotel_code                   object
country_code                 object
country_name                 object
location_code                object
location_name                object
hotel_type                   object
rooms                       float64
bubble_rating               float64
bubble_one                    int64
bubble_two                    int64
bubble_three                  int64
bubble_four                   int64
bubble_five                   int64
page_position               float64
out_of                      float64
reviews                       int64
domestic_reviews              int64
international_reviews         int64
reviews_per_room            float64
visitor_country1             object
visitor_country2             object
visitor_country3             object
management_response_rate    float64
independent_flag              int64
traffic                     float64
traffic_per_room            float64
OTA_region_rate             float64
subscriber                    int64
hotel                         int64
BandB                         int64
Specialty                     int64
dtype: object

**Q2:** Write a Python program to determine the number of hotel types and how many of each type.

In [5]:
# Determine the number of hotel types and how many of each type
hotel_types_count = hotels_df['hotel_type'].value_counts()

# Display the number of hotel types and the count of each type
num_hotel_types = hotel_types_count.shape[0]
print(f"Number of hotel types: {num_hotel_types}")

# Use more structured output for better readability
print("\nCount of each hotel type:")
print(hotel_types_count)

Number of hotel types: 3

Count of each hotel type:
hotel_type
Hotel    184421
B & B    119674
Other     62549
Name: count, dtype: int64

**Q3:** Using a dataframe.method1().method2() syntax, count the number of missing values in each column.

In [7]:
# Count the number of missing values in each column
missing_values_count = hotels_df.isnull().sum()

# Display the result in a more structured way
print("Missing values count in each column:\n")
print(missing_values_count)

Missing values count in each column:

hotel_code                      0
country_code                    0
country_name                    0
location_code                   0
location_name                   2
hotel_type                      0
rooms                       31421
bubble_rating               22518
bubble_one                      0
bubble_two                      0
bubble_three                    0
bubble_four                     0
bubble_five                     0
page_position                  42
out_of                         42
reviews                         0
domestic_reviews                0
international_reviews           0
reviews_per_room            31421
visitor_country1                0
visitor_country2                0
visitor_country3                0
management_response_rate    22363
independent_flag                0
traffic                         2
traffic_per_room            31423
OTA_region_rate                 0
subscriber                      0
hotel                           0
BandB                           0
Specialty                       0
dtype: int64

**Q4:** For this assignment let's define a continuous variable as any numeric (integer and float) variable that has more than 10 distinct values in its distribution. Produce a table showing the mean, standard deviation, skewness and kurtosis of all the continuous variables.

The first step is to identify all the numeric variables.

In [11]:
# Identify numeric variables (integers and floats)
numeric_vars = hotels_df.select_dtypes(include=['int64', 'float64'])

#  Filter continuous variables (those with more than 10 distinct values)
continuous_vars = numeric_vars.loc[:, numeric_vars.nunique() > 10]

# Display the continuous variables for verification
print("Continuous variables identified:")
print(continuous_vars.info())

Continuous variables identified:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366644 entries, 0 to 366643
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   rooms                     335223 non-null  float64
 1   bubble_one                366644 non-null  int64
 2   bubble_two                366644 non-null  int64
 3   bubble_three              366644 non-null  int64
 4   bubble_four               366644 non-null  int64
 5   bubble_five               366644 non-null  int64
 6   page_position             366602 non-null  float64
 7   out_of                    366602 non-null  float64
 8   reviews                   366644 non-null  int64
 9   domestic_reviews          366644 non-null  int64
 10  international_reviews     366644 non-null  int64
 11  reviews_per_room          335223 non-null  float64
 12  management_response_rate  344281 non-null  float64
 13  traffic                   366642 non-null  float64
 14  traffic_per_room          335221 non-null  float64
 15  OTA_region_rate           366644 non-null  float64
dtypes: float64(8), int64(8)
memory usage: 44.8 MB
None

Next, calculate the four moment statistics that interest us.

In [13]:
# Calculate mean, standard deviation, skewness, and kurtosis for continuous variables
summary_stats = continuous_vars.agg(['mean', 'std', 'skew', 'kurtosis'])

# Display the result in a more structured way
print("Summary statistics for continuous variables (mean, standard deviation, skewness, kurtosis):\n")
print(summary_stats)

# Save the kurtosis values before outlier removal
kurtosis_before = summary_stats.loc['kurtosis']

Summary statistics for continuous variables (mean, standard deviation, skewness, kurtosis):

               rooms   bubble_one   bubble_two  bubble_three  bubble_four  \
mean       51.498062     3.059930     3.301742      7.014199    17.221073
std        95.269292    12.272278    11.517430     22.555240    50.082025
skew       12.419465    33.082025    25.459906     24.158969    15.065432
kurtosis  460.486705  2848.224489  1781.237316   1669.979088   530.741498

          bubble_five  page_position      out_of     reviews  \
mean        26.534543      48.547073  133.307404   62.237023
std         82.753286     170.905910  417.102635  181.939113
skew        16.435892       8.219367    6.729044   15.451969
kurtosis   580.735094      91.717439   56.277430  510.789682

          domestic_reviews  international_reviews  reviews_per_room  \
mean             30.749225              31.487797          3.610091
std             100.788155             117.149850          9.204125
skew             17.051120              17.301557         12.161772
kurtosis        699.315595             541.757871        365.691739

          management_response_rate       traffic  traffic_per_room  \
mean                      0.044547   6899.611179        325.724082
std                       0.101389  25954.347748       1074.048503
skew                      2.635651     25.305050         33.731399
kurtosis                  6.351735   1460.523851       2919.317583

          OTA_region_rate
mean           122.465120
std             48.982905
skew             2.472800
kurtosis        18.056053

**Q5:** Find and replace all continuous variable outliers with missing values.

In [18]:
import numpy as np  

# Define a function to replace outliers with NaN using the IQR method
def replace_outliers_with_nan(df):
    """
    This function replaces outliers in a DataFrame with NaN based on the IQR method.
    Outliers are defined as values that lie below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR.
    
    Parameters:
    df (DataFrame): The DataFrame with continuous variables.
    
    Returns:
    DataFrame: The DataFrame with outliers replaced by NaN.
    """
    for col in df.columns:
        # Calculate Q1 (25th percentile) and Q3 (75th percentile)
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        
        # Calculate the Interquartile Range (IQR)
        IQR = Q3 - Q1
        
        # Define the lower and upper bounds for outliers
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Replace outliers with NaN
        df.loc[(df[col] < lower_bound) | (df[col] > upper_bound), col] = np.nan
    
    return df

In [20]:
# Replace outliers with NaN in continuous variables
continuous_vars_cleaned = replace_outliers_with_nan(continuous_vars)

# Update the original dataframe with the cleaned continuous variables
hotels_df[continuous_vars.columns] = continuous_vars_cleaned

# Display the updated dataframe with outliers replaced by NaN
print("Updated DataFrame with outliers replaced by NaN:\n")
print(continuous_vars_cleaned)

Updated DataFrame with outliers replaced by NaN:

        rooms  bubble_one  bubble_two  bubble_three  bubble_four  bubble_five  \
0         NaN         NaN         NaN           NaN          NaN          NaN
1        60.0         4.0         7.0          11.0         30.0         36.0
2         5.0         1.0         1.0           1.0         11.0          NaN
3         9.0         0.0         0.0           0.0          3.0          1.0
4         4.0         5.0         1.0           0.0          0.0          3.0
...       ...         ...         ...           ...          ...          ...
366639    NaN         0.0         0.0           0.0          1.0          0.0
366640    NaN         0.0         0.0           0.0          1.0          0.0
366641    NaN         0.0         0.0           2.0          1.0          0.0
366642    NaN         0.0         0.0           0.0          1.0          0.0
366643  113.0         0.0         0.0           0.0          2.0          0.0

        page_position  out_of  reviews  domestic_reviews  \
0                 4.0    69.0      NaN               NaN
1                 1.0     5.0    101.0               NaN
2                 1.0     2.0    113.0               NaN
3                 2.0     2.0      4.0               4.0
4                 1.0     1.0      8.0               8.0
...               ...     ...      ...               ...
366639            NaN     NaN      1.0               0.0
366640            NaN     NaN      1.0               0.0
366641            NaN     NaN      3.0               0.0
366642            NaN     NaN      1.0               0.0
366643            NaN     NaN      2.0               0.0

        international_reviews  reviews_per_room  management_response_rate  \
0                         NaN          1.978062                       NaN
1                         5.0          1.683333                       NaN
2                         8.0               NaN                  0.016393
3                         0.0          0.444444                  0.000000
4                         0.0          2.000000                  0.000000
...                       ...               ...                       ...
366639                    1.0               NaN                  0.000000
366640                    1.0               NaN                  0.000000
366641                    3.0               NaN                  0.000000
366642                    1.0               NaN                  0.000000
366643                    2.0          0.017699                  0.000000

        traffic  traffic_per_room  OTA_region_rate
0           NaN        110.864717       196.643125
1        6971.0        116.183333       124.976060
2        4405.0               NaN        99.848333
3         889.0         98.777778       124.976060
4        1673.0        418.250000       124.976060
...         ...               ...              ...
366639    117.0               NaN        63.581571
366640     45.0               NaN        63.581571
366641    722.0               NaN        63.581571
366642     56.0               NaN        63.581571
366643    112.0          0.991150        63.581571

[366644 rows x 16 columns]

**Q6:** Impute all continuous variable missing values with the means of those variables.

Note that bubble_rating still has missing values because it only has five distinct values and should not be treated as a continuous numeric variable. It is not entirely categorical either but rather it is a discrete numeric variable where statistics such as mean have meaning.

In [22]:
# For 'bubble_rating', if needed, replace missing values with its mean
if 'bubble_rating' in hotels_df.columns:
    hotels_df['bubble_rating'] = hotels_df['bubble_rating'].fillna(hotels_df['bubble_rating'].mean())
    
# Impute missing values in continuous variables with their respective means
continuous_vars_imputed = continuous_vars.apply(lambda x: x.fillna(x.mean()))

# Update the original dataframe with the imputed continuous variables
hotels_df[continuous_vars.columns]  = continuous_vars_imputed 

# Display the updated dataframe with imputed missing values
print("Updated DataFrame with imputed missing values in continuous variables:\n")
print(continuous_vars_imputed )

Updated DataFrame with imputed missing values in continuous variables:

             rooms  bubble_one  bubble_two  bubble_three  bubble_four  \
0        26.471234     0.83531    1.149473      2.582322      6.30157
1        60.000000     4.00000    7.000000     11.000000     30.00000
2         5.000000     1.00000    1.000000      1.000000     11.00000
3         9.000000     0.00000    0.000000      0.000000      3.00000
4         4.000000     5.00000    1.000000      0.000000      0.00000
...            ...         ...         ...           ...          ...
366639   26.471234     0.00000    0.000000      0.000000      1.00000
366640   26.471234     0.00000    0.000000      0.000000      1.00000
366641   26.471234     0.00000    0.000000      2.000000      1.00000
366642   26.471234     0.00000    0.000000      0.000000      1.00000
366643  113.000000     0.00000    0.000000      0.000000      2.00000

        bubble_five  page_position     out_of    reviews  domestic_reviews  \
0          8.866213       4.000000  69.000000   24.25851          9.762013
1         36.000000       1.000000   5.000000  101.00000          9.762013
2          8.866213       1.000000   2.000000  113.00000          9.762013
3          1.000000       2.000000   2.000000    4.00000          4.000000
4          3.000000       1.000000   1.000000    8.00000          8.000000
...             ...            ...        ...        ...               ...
366639     0.000000       9.749056  30.952987    1.00000          0.000000
366640     0.000000       9.749056  30.952987    1.00000          0.000000
366641     0.000000       9.749056  30.952987    3.00000          0.000000
366642     0.000000       9.749056  30.952987    1.00000          0.000000
366643     0.000000       9.749056  30.952987    2.00000          0.000000

        international_reviews  reviews_per_room  management_response_rate  \
0                      8.3062          1.978062                  0.003069
1                      5.0000          1.683333                  0.003069
2                      8.0000          1.436526                  0.016393
3                      0.0000          0.444444                  0.000000
4                      0.0000          2.000000                  0.000000
...                       ...               ...                       ...
366639                 1.0000          1.436526                  0.000000
366640                 1.0000          1.436526                  0.000000
366641                 3.0000          1.436526                  0.000000
366642                 1.0000          1.436526                  0.000000
366643                 2.0000          0.017699                  0.000000

            traffic  traffic_per_room  OTA_region_rate
0       2405.020078        110.864717       196.643125
1       6971.000000        116.183333       124.976060
2       4405.000000        147.174515        99.848333
3        889.000000         98.777778       124.976060
4       1673.000000        418.250000       124.976060
...             ...               ...              ...
366639   117.000000        147.174515        63.581571
366640    45.000000        147.174515        63.581571
366641   722.000000        147.174515        63.581571
366642    56.000000        147.174515        63.581571
366643   112.000000          0.991150        63.581571

[366644 rows x 16 columns]

**Q7:** How has the kurtosis changed for each of the variables that had outliers removed and then imputed?

Be sure that all the kurtosis values are less than those before outlier removal.

Kurtosis  After Outlier Removal

In [24]:
# Calculate kurtosis after outlier removal and imputation
summary_stats_after = continuous_vars_imputed.agg(['mean', 'std', 'skew', 'kurtosis'])

# Save the kurtosis values after outlier removal and imputation
kurtosis_after = summary_stats_after.loc['kurtosis']

# Display kurtosis after outlier removal and imputation
print("Kurtosis after outlier removal and imputation:\n", kurtosis_after)

Kurtosis after outlier removal and imputation:
 rooms                        2.827523
bubble_one                   2.598653
bubble_two                   2.767351
bubble_three                 2.814132
bubble_four                  2.427834
bubble_five                  2.905318
page_position                3.855038
out_of                       3.637329
reviews                      2.442522
domestic_reviews             2.920094
international_reviews        3.257289
reviews_per_room             3.094558
management_response_rate    15.581105
traffic                      2.554979
traffic_per_room             2.420280
OTA_region_rate              0.050273
Name: kurtosis, dtype: float64

Compare Kurtosis Before and After

In [25]:
# Create a DataFrame to compare kurtosis before and after outlier removal and imputation
kurtosis_comparison = pd.DataFrame({
    'Kurtosis Before': kurtosis_before,
    'Kurtosis After': kurtosis_after
})

# Step 5: Add a column to check if kurtosis has reduced after outlier removal
kurtosis_comparison['Kurtosis Reduced'] = kurtosis_comparison['Kurtosis After'] < kurtosis_comparison['Kurtosis Before']

# Display the kurtosis comparison table
print("Kurtosis comparison before and after outlier removal and imputation:\n")
print(kurtosis_comparison)

Kurtosis comparison before and after outlier removal and imputation:

                          Kurtosis Before  Kurtosis After  Kurtosis Reduced
hotel_code                      -1.200000       -1.200000             False
location_code                    8.549454        0.522790              True
rooms                          460.486705        2.827523              True
bubble_one                    2848.224489        2.598653              True
bubble_two                    1781.237316        2.767351              True
bubble_three                  1669.979088        2.814132              True
bubble_four                    530.741498        2.427834              True
bubble_five                    580.735094        2.905318              True
page_position                   91.717439        3.855038              True
out_of                          56.277430        3.637329              True
reviews                        510.789682        2.442522              True
domestic_reviews               699.315595        2.920094              True
international_reviews          541.757871        3.257289              True
reviews_per_room               365.691739        3.094558              True
management_response_rate         6.351735       15.581105             False
traffic                       1460.523851        2.554979              True
traffic_per_room              2919.317583        2.420280              True
OTA_region_rate                 18.056053        0.050273              True

SyntaxError: invalid syntax (1216548545.py, line 1)